@import "../../common//color.scss";

.footer{
    background: rgb(19, 19, 139);
    height:70px;
    padding:25px;
    display:flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    color:$font-primary;
    flex-direction: column;
}
.footer div{
    padding:8px;
}